<div class="themes-container">

    <div class="span-themes">
        <h2>Categorías</h2>
    </div>

    <div class="grid-container">

        <div class="card">
            <div class="card1">
        
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-music" width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="6" cy="17" r="3" />
                    <circle cx="16" cy="17" r="3" />
                    <polyline points="9 17 9 4 19 4 19 17" />
                    <line x1="9" y1="8" x2="19" y2="8" />
                </svg>
                
        
                <div class="title-container">
                    <span>Música</span>
                </div>
                
            </div>
        </div>

        <div class="card">
            <div class="card2">
        
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-globe" width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="10" r="4" />
                    <path d="M6.75 16a8.015 8.015 0 1 0 9.25 -13" />
                    <line x1="12" y1="18" x2="12" y2="22" />
                    <line x1="8" y1="22" x2="16" y2="22" />
                </svg>
                
        
                <div class="title-container">
                    <span>Geografía</span>
                </div>
                
            </div>
        </div>

        <div class="card">
            <div class="card3">
        
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-activity" width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 12h4l3 8l4 -16l3 8h4" />
                </svg>
                
        
                <div class="title-container">
                    <span>Biología</span>
                </div>
                
            </div>
        </div>

        <div class="card">
            <div class="card4">
        
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brush" width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 21v-4a4 4 0 1 1 4 4h-4" />
                    <path d="M21 3a16 16 0 0 0 -12.8 10.2" />
                    <path d="M21 3a16 16 0 0 1 -10.2 12.8" />
                    <path d="M10.6 9a9 9 0 0 1 4.4 4.4" />
                </svg>
                
        
                <div class="title-container">
                    <span>Arte</span>
                </div>
                
            </div>
        </div>

        <div class="card">
            <div class="card5">
        
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-flask" width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <line x1="9" y1="3" x2="15" y2="3" />
                    <line x1="10" y1="9" x2="14" y2="9" />
                    <path d="M10 3v6l-4 11a0.7 .7 0 0 0 .5 1h11a0.7 .7 0 0 0 .5 -1l-4 -11v-6" />
                </svg>
                
        
                <div class="title-container">
                    <span>Ciencia</span>
                </div>
                
            </div>
        </div>

        <div class="card">
            <div class="card6">
        
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ball-football" width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="12" r="9" />
                    <path d="M12 7l4.76 3.45l-1.76 5.55h-6l-1.76 -5.55z" />
                    <path d="M12 7v-4m3 13l2.5 3m-.74 -8.55l3.74 -1.45m-11.44 7.05l-2.56 2.95m.74 -8.55l-3.74 -1.45" />
                </svg>
                
        
                <div class="title-container">
                    <span>Deportes</span>
                </div>
                
            </div>
        </div>

    </div>
</div>
