<div class="footer-container">

    <div class="miembros-container">
        <h5>Miembros</h5>
        <span>Frontend: <strong>Richard Aleixo</strong></span><br>
        <span>Backend: <strong>Dalila Arce</strong></span><br>
        <span>QA Tester: <strong>Ernesto Linton</strong></span><br>
    </div>

    <div class="span-container">
        <span>Hecho con mucho cariño para la comunidad</span>
    </div>

    <div class="contacto-container">

        <div class="email-container">
            <h5>Email</h5>
            <div class="item">richard.aleiixo@gmail.com</div>
            <div class="item">dalialarc@gmail.com</div>
            <div class="item">erneslinton@gmail.com</div>
        </div>

    </div>

</div>
