<div class="header-container">

    <div class="navbar-container">

        <div class="list-container">
            <ul>
                <li class="list-item" [routerLink]="['/pages/home']">Inicio</li>
                <li class="list-item" [routerLink]="['/pages/themes']">Temas</li>
                <li class="list-item">Contacto</li>
            </ul>
        </div>

        
        <div class="button">
            <button class="btn-donate">Crear Tema</button>
        </div>
        
    </div>

    <div class="title-container">
        <h1>Wikideas</h1>
    </div>

    <div class="buscador-container">
        <app-search></app-search>
    </div>

</div>
