<app-header></app-header>
<div class="span-container">
    <div class="grid-container">

        <div class="img-container">
            <img src="assets/grupo.jpg" alt="grupo">
        </div>

        <div class="p">
            <p>
                La biblioteca Wikideas es un proyecto colaborativo creado con el objetivo
                de proporcionar un recurso valioso para los amantes literarios.
                Tiene como finalidad el fácil acceso a la información y al conocimiento
                de manera gratuita y accesible para todos.
            </p>
        </div>

        <div class="p">
            <p>
                Wikideas es un espacio de acceso publico que tiene como objetivo fomentar la lectura,
                el intecambio de ideas y el conocimiento.
                Esperamos que nuestra Wikideas sea una herramienta útil para cualquier persona que
                busque expandir conocimientos o disfrutar la lectura.
            </p>
            
        </div>

        <div class="img-container">
            <img src="assets/investigacion.jpg" alt="investigacion">
        </div>


    </div>
</div>
<app-themes-board></app-themes-board>
<app-footer></app-footer>
